body {
    font-family: Roboto, Oxygen, Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;

}

a {
    text-decoration:none;
    color: #e5e7eb;
    font-size: 18px;
}
 img {
    max-width: 400px;
    max-height: 400px;
 }


.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

/* contains the links and logo*/
.header-top {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 70px;

}

/* this container holds all of the  header-body classes */
.header-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 70px;
}

    .header-title {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
        display: flex;
    
    }


    .header-subtext {
        font-size: 18px;
        color: #e5e7eb;
        display: flex;

    }

    button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 100px;
        cursor: pointer;
        padding: 6px 16px;
        border-radius: 8px;

    }

    button.sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3882f6;
        color: #e5e7eb;
        border: 1px black;
        font-weight: bold;
    }


    .header-body {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        flex-wrap: wrap;
        margin-right: 50px;
        gap: 20px;
        padding: 16px;
    }

    .place-holder {
        display: flex;
        background-color: grey;
        max-width: 450px;
        padding: 100px;
        color: white;
    }

    /* end of header-body container*/

    .header-content {
        background-color: #1F2937;
        display: flex;
        flex-direction: column;
        flex: 1;
    }


/* End of header content*/

/* Start of b1 content */
.b1-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    margin-bottom: 70px;
}

    .b1-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 48px;
        margin-bottom: 48px;
    }
            .b1-title {
                font-size: 36px;
                color: #1F2937;
                font-weight: 900;
            }


    .b1-section-body {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 52px;
    }
    
            .info { 
                max-width: 250px;
                max-height: 250px;
                margin-bottom: 100px
            }

            .b1-image,
            .info {
                max-width: 200px;
                max-height: 200px;
            }

            .b1-image {
                border: #3882f6 solid 4px;
                border-radius: 16px;
                margin-bottom: 8px;
                padding: 95px;
            }


            .img-subtext {
                font-size: 18px;
                font-weight: lighter;
            }
            /* End of b1 content */

/* Start of b2 content */

.b2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #e5e7eb;

}

        .quote-container {
            display: flex;
            max-width: 850px;
            margin-top: 70px;
        }

            .quote {
                display: flex;
                font-size: 36px;
                font-weight: lighter;
                color: #1f2937;
                flex-wrap: wrap;
            }
        
        .sender-container {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            max-width: 800px;
            margin-bottom: 70px;
        }
            .sender {
                display: flex;
                font-weight: bold;
                justify-content: center;
                font-size: 26px;
            }
            /* End of b2 content */
/* Start of b3 content */

.b3-container {
    display: flex;
    background-color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    background-color: #3882f6;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 8px;
}

        .words {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

        }

            .call-to-action-container {
                display: flex;
            }
        
                .call-to-action {
                    display: flex;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                }


            .sign-up-container {
                display: flex;
            }
            
                .sign-up {
                    display: flex;
                    color: white;
                    font-size: 14px;
                    
                }

    .bottom-button {
        display: flex;
        justify-content: center;
        cursor: pointer;
        background-color: #3882f6;
        border: white solid 2px;
        color: white;
        font-weight: bold;
        margin-left: 100px;
        padding: 6px 16px;
        border-radius: 8px;
    }

    /* End of b3 content */

/* Start of footer */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 12px;
}

        .footer-content {
            margin: 26px;
        }
    /* End of footer */