body {
    font-family: Roboto, Oxygen, Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;

}

a {
    text-decoration:none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

/* contains the links and logo*/
.header-top {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;

}

/* this container holds all of the body classes */
.header-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
   
}

.man-image img {
    display: flex;
    max-width: 450px;
    max-height: 450px;
    justify-content: center;
    align-items: center;
}


.header-subtext {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;

}

button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100px;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 8px;

}

button.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882f6;
    color: #e5e7eb;
    border: 1px black;
    font-weight: bold;
}


.header-body {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    flex-wrap: wrap;
    margin-right: 50px;
    gap: 20px;
    padding: 16px;
}

/* end of header-body container*/

.header-content {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;

}
/* End of header content*/

.b1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: white;
}

.b1-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 50px;
}

.b1-section-body {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 52px;
}

.info { 
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 8px;
}

.b1-image {
    
}

.img-subtext {
    font-size: 18px;
}
